services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5445:5432"
    volumes:
      - "postgres_data_dev:/var/lib/postgresql/data"

volumes:
  postgres_data_dev:
