name: "CI/CD"

on:
  push:
    branches: 
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
          
      - uses: actions/setup-node@v4

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint
